<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-push-parse-notification"
    version="1.2.4">

  <name>Push Parse Notification Plugin</name>
	<author>Bob Easterday</author>

	<description>
		This plugin allows your application to receive push notifications on Android, iOS with Parse
	</description>

	<license>MIT</license>

	<js-module src="www/push.js" name="PushNotification">
        <clobbers target="PushNotification" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<preference name="APP_ID" />
    <preference name="CLIENT_KEY" />

	<!-- android -->
	<platform name="android">

		
>

		<!-- must to referecence application when parse must be initialized -->
		 <hook type="after_plugin_add" src="scripts/android_app_name.js" />

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="PushNotification" >
				<param name="android-package" value="com.adobe.phonegap.push.PushPlugin"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">

			<!--
				To configure the PushService for Parse's push network, ensure these permission declarations are present in your AndroidManifest.xml as children of the <manifest> element:
			-->
			<uses-permission android:name="android.permission.GET_ACCOUNTS" />
		    <uses-permission android:name="android.permission.READ_PROFILE" />
		    <uses-permission android:name="android.permission.READ_CONTACTS" />
		    <uses-permission android:name="android.permission.INTERNET" />
		    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		    <uses-permission android:name="android.permission.WAKE_LOCK" />
		    <uses-permission android:name="android.permission.VIBRATE" />
		    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
		    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
		    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

		    <permission
        android:name="com.parse.starter.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">

			<service android:name="com.parse.PushService" />
			<receiver android:name="com.adobe.phonegap.push.ParseBroadCastReceiver" android:exported="false">
			  <intent-filter>
			  	 <action android:name="android.intent.action.BOOT_COMPLETED" />
                 <action android:name="android.intent.action.USER_PRESENT" />
			     <action android:name="com.parse.push.intent.RECEIVE" />
			     <action android:name="com.parse.push.intent.OPEN" />
			     <action android:name="com.parse.push.intent.DELETE" />
			   </intent-filter>
			</receiver>

			<receiver android:name="com.parse.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
		        <intent-filter>
		            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		            <category android:name="$PACKAGE_NAME" />
		        </intent-filter>
		     </receiver>

		</config-file>

		<source-file src="src/android/libs/Parse-1.13.0.jar" target-dir="libs/" />
		<source-file src="src/android/libs/bolts-tasks-1.4.0.jar" target-dir="libs/" />

		<source-file src="src/android/com/adobe/phonegap/push/CordovaPushApplication.java" target-dir="src/com/adobe/phonegap/push/" />
		<source-file src="src/android/com/adobe/phonegap/push/PushConstants.java" target-dir="src/com/adobe/phonegap/push/" />

		<source-file src="src/android/com/adobe/phonegap/push/PushPlugin.java" target-dir="src/com/adobe/phonegap/push/" />

		<source-file src="src/android/com/adobe/phonegap/push/ParseBroadCastReceiver.java" target-dir="src/com/adobe/phonegap/push/" />


		<source-file src="src/android/com/adobe/phonegap/push/parseplugin.xml" target-dir="res/values" />
        <config-file target="res/values/parseplugin.xml" parent="/*">
            <string name="parse_app_id">$APP_ID</string>
            <string name="parse_client_key">$CLIENT_KEY</string>
        </config-file>

	</platform>

	<!-- ios -->
	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="PushNotification">
				<param name="ios-package" value="PushPlugin"/>
			</feature>
		</config-file>

		<config-file target="*-Info.plist" parent="AppID">
            <string>$APP_ID</string>
        </config-file>

        <config-file target="*-Info.plist" parent="ClientID">
            <string>$CLIENT_KEY</string>
        </config-file>


		<source-file src="src/ios/AppDelegate+notification.m" />
		<source-file src="src/ios/PushPlugin.m" />

		<header-file src="src/ios/AppDelegate+notification.h" />
		<header-file src="src/ios/PushPlugin.h" />

        <framework src="Accounts.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="Security.framework" />
        <framework src="Social.framework" />
        <framework src="StoreKit.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="libz.dylib" />
        <framework src="libsqlite3.dylib" />

        <framework src="src/ios/Bolts.framework" custom="true" />
        <framework src="src/ios/Parse.framework" custom="true" />

	</platform>

  	<!-- windows -->
  	<platform name="windows">
    	<js-module src="src/windows/PushPluginProxy.js" name="PushPluginParse">
    		<merges target="" />
    	</js-module>
    	<config-file target="config.xml" parent="/*">
    		<preference name="WindowsToastCapable" value="true" />
    	</config-file>
	</platform>

</plugin>
